# Ignore environment variables
horuspdv-app/hpdv/backend/.env

# Dependencies
node_modules/

# Build output
dist/

# macOS metadata
.DS_Store

# Tooling caches
.eslintcache
*.tsbuildinfo
.vite/
.cache/

#CSharp Build output
bin/
obj/
horus_pdv/
API/NETCORE/appsettings.Development.json
API/NETCORE/appsettings.Development.json.save
FRONTEND/.env
FRONTEND/.env.development
